<form id="character-create-form">

   <label for="height">
      Enter Character's name
      <input type="text" id="char-name">
   </label>

   <br>

      <label>
      Input Character Age
      <input type="input" id="char-age">
   </label>

   <br>

   <label>
      Character's height in ft
      <input type="range" id="char-height" name="height" min="1" max="8">
   </label>

   <br>

   <p>Choose a Class</p>
   <div id="class-choice"></div>
   <br>

   <label>
      Pick a chosen color
      <input type="radio" id="char-background-color">
   </label>

   <br>

   <label>
      <button id type="submit" for="submit">Generate Character</button>
   </label>

</form>

<script src="/js/character-forms.js"></script>
