   <form id="character-form">
      <input type="text" id="char-name">
      <input type="range" id="char-height" name="height"
         min="0" max="11">
      <label for="height">Height in ft</label>
      {{!-- <input type="radio" id="age"> --}}
      <input type="radio" id="char-class">
      <input type="radio" id="char-background-color">
      <input id type="submit"><label for="submit">Generate Character</label>
   </form>
