   <form id="character-form">
      <input type="text" id="char-name">
      <input type="radio" id="char-height">
      {{!-- <input type="radio" id="age"> --}}
      <input type="radio" id="char-class">
      <input type="radio" id="char-background-color">
      <input type="submit">
   </form>
