{{!-- <header class="bg-green-500">
  <h1 class="text-3xl">Character Generator</h1>
</header>
 --}}

     {{!-- </div class="">
          <nav class="text-center text-2xl">
          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <a href=""></a>
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a class="log-in-btn bg-red-400 border-indigo-400" href="/login">login</a>
          {{/if}}
        </nav>
    <div> --}}