<section class="" id="">
  <div class="" id="login-form">
    <h2>Login</h2>

    <form class="" id="">
      <div class="" id="">
        <label for="email-login">Email:</label>
        <input type="email" name="email" id="email-loign" placeholder="Email">
      </div>

      <div class="" id="">
        <label for="password-login">Password:</label>
        <input type="password" name="password" id="password-login" placeholder="Password">
      </div>

      <div class="" id="">
        <button class="" id="">login</button>
      </div>
    </form>

  </div>
</section>