   <form id="character-form">
      <input type="text" id="name">
      <input type="radio" id="height">
      {{!-- <input type="radio" id="age"> --}}
      <input type="radio" id="class">
      <input type="radio" id="background-color">
      <input type="submit">
   </form>
